/* ContactUsPage.css */
body{
  background: url('https://img.freepik.com/premium-photo/wooden-garden-table-with-trees-flowers-blurred-background-generative-ai_74760-571.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-size: cover; 
    color: white; 
  }
  
  .contact-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .contact-header h1 {
    font-size: 2.5rem;
  }
  
  .contact-form {
    max-width: 600px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #4caf50; 
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #45a049; 
  }
  