/* App.css */

.Products {
  display: flex;
  flex-direction: row;
  background-color: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  height: 100vh;
}

.sidebar {
  width: 10vw;
  height: 130vh;
  display: flex;
  flex-direction: column;
  padding-right: 18vw;
  flex-basis: 10%;
  background-color: #000000;
  padding: 20px;
}

.sidebar h1 {
  margin: 15px;
}

.sidebar h2 {
  margin: 15px;
  color: white;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.sidebar ul li {
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  cursor: pointer;
  /* gap: 3rem; */
}

.main-content {
  width: 85vw;
  /* height: 100vh; */
  padding: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  border: 1px solid #ccc;
  color: #ccc;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  width: calc(33.33% - 50px);
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.product-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.product-card h3 {
  margin: 10px 0;
}

.product-card p {
  font-weight: bold;
}
